.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-container {
  background-color: rgb(245, 243, 243);

  height: 100vh;
}

.bg-container {
  display: flex;
}
.main-container {
  margin-left: 10px;
}
.order-block {
  background-color: #ffffff;
  width: 90px;
  height: 35px;
  text-align: center;
}

.order {
  color: grey;
  padding-top: 5px;
}

.odr {
  color: rgb(5, 105, 246);
  font-weight: 600;
}

.order-detail-card {
  margin-top: 73px;
}

.order-detail-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.order-item {
  font-size: 10px;
}

.pending-card {
  background-color: #ffffff;
  padding: 15px;
}

.import-accept-print-card {
  display: flex;
  margin-left: 20px;
  margin-bottom: 10px;
}

.import-card {
  background-color: #ffffff;
  height: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(172, 172, 172);
  margin-top: 20px;
}

.import {
  font-size: 12px;
  font-family: "Roboto";
}

.import-span {
  margin-left: 5px;
}

.accept-print-card {
  background-color: rgb(243, 240, 240);
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(220, 217, 217);
  margin-top: 20px;
  margin-left: 15px;
}

.accept-print {
  font-size: 12px;
  font-family: "Roboto";
}
